:root {
  --bg-body: #f5ebeb;
  --bg-input: #e4d0d0;
  --clr-input: #ffffff;
  --clr-input-placeholder: #ffffffaa;
  --bg-button: #d5b4b4;
  --bg-button-hover: #867070;
  --clr-button: #ffffff;
  --bg-item: #ffffff;
  --bg-item-hover: #f8f1f1;
  --clr-item: #555555;

  --fs: 20px;

  --rad: 8px;

  --transition: 150ms ease;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--bg-body);
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 150px;
  margin: 0 auto;
  -webkit-user-drag: none;
}

input,
button {
  border: none;
  outline: none;
  font-size: var(--fs);
  text-align: center;
  font-family: "Rubik", sans-serif;
  transition: var(--transition);
}

input {
  padding: 15px;
  color: var(--clr-input);
  border-radius: var(--rad);
  background-color: var(--bg-input);
  margin: 10px 0;
}

input::placeholder {
  color: var(--clr-input-placeholder);
}

button {
  color: var(--clr-button);
  background-color: var(--bg-button);
  cursor: pointer;
}

button:hover {
  background-color: var(--bg-button-hover);
}

#add-button {
  padding: 15px;
  border-radius: var(--rad);
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  color: var(--clr-item);
  background-color: var(--bg-item);
  padding: 15px;
  font-size: var(--fs);
  border-radius: var(--rad);
  flex-grow: 1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: var(--transition);
}

ul li:hover {
  background-color: var(--bg-item-hover);
}

#ui-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ui-button svg {
  fill: var(--clr-button);
}
